.bg-blue {
  background-color: #ecf6fc;
}

.bg-orange {
  background-color: #f08865;
}

.bg-dark-blue {
  background-color: #041c3b;
}

.text-dark-blue {
  color: #041c3b;
}

.topnav a:hover {
  border-bottom: 3px solid #f08865;
  font-weight: 600;
}

.max-h-36 {
  max-height: 36rem;
}

.dropbtn {
  background-color: #f2f2f2;
  color: #041c3b;
  padding: 16px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-flow: row;
}

.dropbtn:focus {
  background-color: #041c3b;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
