.bg-blue {
  background-color: #ecf6fc;
}

.bg-orange {
  background-color: #f08865;
}

.bg-dark-blue {
  background-color: #041c3b;
}

.text-dark-blue {
  color: #041c3b;
}

.topnav a:hover {
  border-bottom: 3px solid #f08865;
  font-weight: 600;
}

.max-h-36 {
  max-height: 36rem;
}
